<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SFE.AccesoADatos.Properties.Settings.SFE_CostaRicaConnectionString"
            connectionString="Data Source=CRACKNALES\SQLEXPRESS;Initial Catalog=SFE_CostaRica;Persist Security Info=True;User ID=sa;Password=A123456a"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>